@use 'sass:map';
@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.login-form {
  background-color: white;
  @include shadow('lg');
  border-radius: map.get($border-radius, 'lg');
  padding: map.get($spacing, '5');
  margin-bottom: map.get($spacing, '6');

  .forgot-password {
    display: block;
    text-align: center;
    color: get-color('primary');
    @include font-size('sm');
    text-decoration: none;
    margin: map.get($spacing, '4') 0;
    @include transition;

    @include hover {
      text-decoration: underline;
    }
  }

  .divider {
    border: none;
    border-top: 1px solid get-color('gray', '200');
    margin: map.get($spacing, '5') 0;
  }

  .create-account-btn {
    margin: 0 auto;
    display: block;
    padding: map.get($spacing, '3') map.get($spacing, '4');
    @include font-size('lg');
  }
} 